 <div class="container mt-5">
    <div class="row">
      {{#each posts}}
        <div class="col-md-12">
          <a href="/editPost/{{this.id}}" class="card-link">
            <div class="card mb-4">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-title mb-0">{{this.title}}</h5>
                  <h6 class="card-subtitle mb-0 text-muted">{{this.formattedDate}}</h6>
                </div>
              </div>
            </div>
          </a>
        </div>
      {{/each}}
    </div>
    <div class='container-fluid d-flex justify-content-center align-items-end'>
      <a class='btn btn-primary mb-3' id='newpost' href='/newpost'>+ New Post</a>
    </div>
  </div>